Repository Automattic/WP-Job-Manager, pull requests merged in 2023-07, with the labels that each got.

#2488 Fix some issues on the Promoted Jobs API and refactor it to be more consistent with WPJMCOM
  docs/api/internal.json
  includes/promoted-jobs/class-wp-job-manager-promoted-jobs-api.php
Labels: Promoted Jobs

#2515 Fix terms handling on the promoted jobs API
  includes/promoted-jobs/class-wp-job-manager-promoted-jobs-api.php
Labels: Promoted Jobs

#2517 Encode url arguments
  includes/admin/class-wp-job-manager-promoted-jobs-admin.php
Labels: Promoted Jobs

#2519 Do not throw error on Promoted Jobs API if Job Listing Types are disabled
  includes/promoted-jobs/class-wp-job-manager-promoted-jobs-api.php
Labels: [Type] Bug, Promoted Jobs

#2520 Use wpjm_get_the_job_types to get job listing types from a post
  includes/promoted-jobs/class-wp-job-manager-promoted-jobs-api.php
Labels: [Type] Enhancement, Promoted Jobs

#2524 Fix undefined variable warning
  includes/admin/class-wp-job-manager-promoted-jobs-admin.php
Labels: Promoted Jobs

#2526 Add learn more link to promote modal
  assets/js/admin/promote-job-modals.js
Labels: Promoted Jobs

#2525 Refactor promote jobs template in order to clean the data
  includes/admin/class-wp-job-manager-promoted-jobs-admin.php
Labels: Promoted Jobs

#2534 Fix deactivate promotion URL
  includes/admin/class-wp-job-manager-promoted-jobs-admin.php
Labels: [Type] Bug, Promoted Jobs

#2547 Don't open the promote modal on the editor when the job is already promoted
  assets/js/admin/job-editor.js
  includes/promoted-jobs/class-wp-job-manager-promoted-jobs.php
Labels: [Type] Bug, Promoted Jobs

#2549 Use proper functions to get salary_currency and salary_unit on Promoted Job API
  includes/promoted-jobs/class-wp-job-manager-promoted-jobs-api.php
Labels: [Type] Bug, Promoted Jobs

#2550 Sync salary fields in promoted jobs API with api documentation
  docs/api/internal.json
  includes/promoted-jobs/class-wp-job-manager-promoted-jobs-api.php
Labels: [Type] Enhancement, Promoted Jobs
